body {
    font-family: Arial;
    background-color: rgb(237, 247, 204);
}

h1 {
    font-size: 38px;
    width: 900px;
    background-color: #96cb03;
    margin-right: auto;
    margin-top: 0;
}

p {
    line-height: 1.5
}

/*ヘッダー*/
header {
    background-color: aliceblue;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

/*記事*/
article {
    background-color: #cde68a;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px #aaaaaa;
}

/*フッター*/
footer {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}